{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><button class="btn btn-default"><span class="glyphicon glyphicon-plus"><b class="Add_new_post">New post</b></span></button></a>
    {% endif %}
    {% for post in posts %}
        {% if post.published_date %}
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text }}</p>
                <div class="date">
                    <p>{{ post.published_date }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                </div>    
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
